<div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
        <span  style="margin:auto; display: table">
             Sending File [<b>{{STATE}}</b>]
        </span>
        </div>
        <div class="panel-body">

            <div ng-show="state == 'fileSection'">
                fileSection
            </div>
            <div ng-show="STATE === 'SENDING'">

            <span  style="margin:auto; display: table">


            </span>
                File Size:{{fileSize}} {{progress}}% completed
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="min-width: {{progress}}%; width: {{progress}}%;">
                        {{progress}}%
                    </div>
                </div>
            <span  style="margin:auto; display: table">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-xs btn btn-danger" ng-click="cancelSending()">Cancel</button>
                </div>
            </span>
            </div>

            <div ng-show="STATE == 'FILE_SELECTED'">
            <span  style="margin:auto; display: table">
                 Sending file:{{fileName}}[{{fileSize}}] to:<b>{{to}}</b>
            </span>
            <span  style="margin:auto; display: table">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-xs btn-primary" ng-click="startSending()">Send</button>
                    <button type="button" class="btn btn-xs btn btn-danger" ng-click="cancelSending()">Cancel</button>
                </div>
            </span>
            </div>



            <div ng-show="STATE == 'COMPLETED'">
            <span  style="margin:auto; display: table">
                  File:{{fileName}}[{{fileSize}}] was transferred to: {{to}}!
            </span>
            <span  style="margin:auto; display: table">
                <button type="button" class="btn btn-xs btn-success" ng-click="idle()">Send Again</button>
            </span>
            </div>
            <div ng-show="STATE == 'ERROR'">
            <span  style="margin:auto; display: table; color: red">
                 {{error}}
            </span>
            <span  style="margin:auto; display: table">
                <button type="button" class="btn btn-xs btn btn-danger" ng-click="close()">Close</button>
                <button type="button" class="btn btn-xs btn" ng-click="idle()">Try Again</button>
            </span>
            </div>


            <div ng-show="STATE == 'REJECTED'">
            <span  style="margin:auto; display: table;">
                 The file transfer was rejected. Try again !
            </span>
            <span  style="margin:auto; display: table">
                <button type="button" class="btn btn-xs btn" ng-click="idle()">Try Again</button>
            </span>
            </div>
            <div ng-show="STATE == 'STOPPED'">
            <span  style="margin:auto; display: table;">
                 The file transfer was stopped. Try again !
            </span>
            <span  style="margin:auto; display: table">
                <button type="button" class="btn btn-xs btn" ng-click="idle()">Try Again</button>
            </span>
            </div>


            <div ng-show="STATE == 'CONNECTING'">
            <span  style="margin:auto; display: table;">
                 Waiting for other party to accept.
            </span>
            <span  style="margin:auto; display: table">
                <button type="button" class="btn btn-xs btn btn-danger" ng-click="cancelSending()">Cancel</button>
            </span>
            </div>

            <div ng-show="STATE == 'IDLE'">
            <span  style="margin:auto; display: table">
                <!--<button type="button" class="btn btn-xs btn" ng-click="browseFile()">Browse File</button>-->
                <span class="btn btn-default btn-file btn-xs">
                   Choose File to send
                   <input class='sendFile' type="file">
                </span>
                <button type="button" class="btn btn-xs btn btn-danger" ng-click="close()">Close</button>
            </span>
            </div>

        </div>
    </div>
</div>