

.mypage{
    position: relative;
    width: 100%;
    height: inherit;
    border: 1px dashed lightgrey;
    box-sizing: border-box;



    /*

    min-height: 200px;
    height:100vh;

    min-height: 420px;
    /*
    overflow: hidden;

    border: 2px dashed black;
    background-color: lightgrey;
    */

}

.mypage-header{
    position: absolute;
    top: 0px;
    width: 100%;
    /*bottom: 0px;*/
    /*
    height: 60px;
    background-color: grey;

    box-sizing: border-box;
    opacity: 0.9;
    */
}
.mypage-footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    /*
    height: 60px;
    */
    box-sizing: border-box;
    opacity: 0.9;

    background-color: grey;
}
.mypage-body{
    position: absolute;
    top: 0px;
    bottom: 50px;
    width: 100%;
    min-height: 300px;
    box-sizing: border-box;
    overflow: auto;
    /*
    background-color: palegreen;
    border: 2px dashed black;
    */

}
.body-content{
    /*
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;

    background-color: wheat;
    box-sizing: border-box;
    border: 2px dashed black;
    display: block;
    */
}
.chatMessage{
    max-width: inherit;
    /*
    border-top: 1px dashed lightgrey;
    */
}

