<span class="chat">
    <div class="panel panel-primary">
        <div class="chatpanel-body">
            <div data-ng-repeat="message in messages">
                {{message}}
            </div>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <input id="btn-input" type="text" class="form-control input-sm" ng-model="textInput" placeholder="Type your message here...">
	                <span class="input-group-btn">
                        <ect-choose-file-button on-select="fileSelected(files)" multiple>
                                <button type="file" class="btn btn-sm">
                                    File
                                    <span class="glyphicon glyphicon-open-file"></span>
                                </button>
                        </ect-choose-file-button>
                        <button type="button" class="btn btn-info btn-sm" data-ng-click="sendMessage(textInput);">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
	                </span>
            </div>
        </div>
    </div>
</span>