



<div style="overflow: hidden">

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <span  style="margin:auto; display: table">
             Receiving File [<b>{{STATE}}</b>]
        </span>
    </div>
    <div class="panel-body">

        <div ng-show="STATE == 'WAITING'">
            <span  style="margin:auto; display: table">
                 Incoming file:{{fileName}}[{{fileSize}}] from <b>{{from}}</b>
            </span>
            <span  style="margin:auto; display: table">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-xs btn-primary" ng-click="accepted()">Accept</button>
                    <button type="button" class="btn btn-xs btn btn-danger" ng-click="rejected()">Decline</button>
                </div>
            </span>
        </div>

        <div ng-show="STATE == 'STOPPED'">
            <span  style="margin:auto; display: table;">
                 The file transfer was stopped.
            </span>
            <span  style="margin:auto; display: table">
                <button type="button" class="btn btn-xs btn btn-danger" ng-click="close()">Close</button>
            </span>
        </div>

        <div ng-show="STATE == 'RECEIVING'">
            File Size:{{fileSize}} {{progress}}% completed
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="min-width: {{progress}}%; width: {{progress}}%;">
                    {{progress}}%
                </div>
            </div>
            <span  style="margin:auto; display: table">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-xs btn btn-danger" ng-click="cancelSending()">Cancel</button>
                </div>
            </span>
        </div>
        <div ng-show="STATE == 'COMPLETED'">
            <span  style="margin:auto; display: table">
                  File:{{fileName}}[{{fileSize}}] is downloaded!
            </span>
            <span  style="margin:auto; display: table">
                <a id='lnkDownload' class="btn btn-link">Download</a>
                <button type="button" class="btn btn-xs btn btn-danger" ng-click="close()">Close</button>
            </span>
        </div>
        <div ng-show="STATE == 'ERROR'">
            <span  style="margin:auto; display: table; color: red">
                 {{error}}
            </span>
            <span  style="margin:auto; display: table">
                <button type="button" class="btn btn-xs btn btn-danger" ng-click="close()">Close</button>
            </span>
        </div>
        <div ng-show="STATE == 'IDLE'">
            <span  style="margin:auto; display: table;">
                 Waiting for new file transfer.
            </span>
            <span  style="margin:auto; display: table">
                <button type="button" class="btn btn-xs btn btn-danger" ng-click="close()">Close</button>
            </span>
        </div>

    </div>
</div>
</div>