

<!doctype html>

<html>

<head>

    <meta charset="utf-8"/>

    <script src="https://web1bgc.ect-telecoms.de/effective/javascripts/ectxml.js"></script>
    <script src="https://web-143-82.ect-telecoms.de/effective/javascripts/apps/vab/popup/webrtc/directives/ectWebRtc.js"></script>


    <script>

        require({

            //baseUrl: "https://webrtcgw2.ect-telecoms.de/static/js/common",

            paths: {
                "angular":'https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min',
                "jquery":'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min',
                "moment":'http://momentjs.com/downloads/moment-with-locales.min',
                "noty":'../lib/noty/js/noty/packaged/jquery.noty.packaged',
                "phone":'https://webrtcgw2.ect-telecoms.de/static/js/common/phone',
                "api":'https://webrtcgw2.ect-telecoms.de/static/js/common/api',
                "ect": '../lib/ect'

            }

        });

        require(["ect/PopupCtrlServer_1.0.0", "ectxml/pubSubManager"], function(PopupCtrlServer, PubSubManager) {

            var url = "https://webrtcgw2.ect-telecoms.de/comet-server/cometd";

            //var url = "http://se-cloud-01/comet-server/cometd";

            var credentials = {

                owner : "ect",

                application : "vab",

                name : "soapgw",

                password : "r89I+Oo,k%9C",

                role : "SERVICE",

                properties: {

                    _services: [{

                        owner: "ect",

                        application: "vab",

                        name: "popupctrl",

                        version: "1.0.0",

                        securityPropertyNames: ["apiKey", "ddi", "clientIp", "userAgent", "custRef"]

                    }]

                }

            };



            var psm = new PubSubManager(url);

            // start psm with initialization callback

            psm.start(credentials, function(successful, passport, error, msg) {

                console.log(successful, passport, error);

            });



            var api = new PopupCtrlServer({psm: psm, timeout: 2000}, {

                onOpen: function(sender, webRtc, apiKey, ddi, clientIP, userAgent, custRef) {

                    console.log("onOpen", sender, webRtc, apiKey, ddi, clientIP, userAgent, custRef);

                    setTimeout(function() {

                        var html = '<ect-form><div class="form-group">        <p class="text-center" style=";color:black;font-size:20px;font-family:Arial" >WebRTC</p> <ect-web-rtc data-ng-model="vm" allow-audio="true" allow-video="false" images="{\'connectImage\': \'img/vab/calling.gif\',\'noVideoImage\': \'img/vab/calling.gif\',\'endedImage\': \'img/vab/ended.jpg\',\'errorImage\': \'img/vab/call-failed.jpg\',\'muteImage\': \'img/vab/mute.png\',\'unmuteImage\': \'img/vab/unmute.png\',\'hangupImage\': \'img/vab/hangup2-red.png\'}"></ect-web-rtc></div></ect-form>';

                        var weekTest = {

                        };



                        api.htmlPage(sender, 17, 1002330, html, weekTest);

                    }, 2000);

                },

                onNextIcon: function(sender, moduleNo, sessionId, exitNo, values, apiKey, ddi, clientIP, userAgent, custRef) {

                    console.log("onNextIcon: ", sender, moduleNo, sessionId, exitNo, values, apiKey, ddi, clientIP, userAgent, custRef);

                }

            });

        });

    </script>
    <body>
        <ect-form><div class="form-group">        <p class="text-center" style=";color:black;font-size:20px;font-family:Arial" >WebRTC</p> <ect-web-rtc data-ng-model="vm" allow-audio="true" allow-video="false" images="{\'connectImage\': \'img/vab/calling.gif\',\'noVideoImage\': \'img/vab/calling.gif\',\'endedImage\': \'img/vab/ended.jpg\',\'errorImage\': \'img/vab/call-failed.jpg\',\'muteImage\': \'img/vab/mute.png\',\'unmuteImage\': \'img/vab/unmute.png\',\'hangupImage\': \'img/vab/hangup2-red.png\'}"></ect-web-rtc></div></ect-form>
    </body>

</head>

</html>
